streamlit
pandas
numpy
matplotlib
pygad
shapely
alphashape
scikit-learn
scikit-optimize
click
loguru
seaborn
pytest
flake8
openai

# Install instancespace package
instancespace @ git+https://github.com/andremun/pyInstanceSpace.git
